.slideShow {
    position: relative;
	float: left;
    width: 600px;
    height: 425px;
	overflow: hidden;
    &,ul,.slideItems {
        margin: 0;
        padding: 0;

    }
    & .slideItems {
        position: absolute;
        display: block;
        top: 0;
        width: 3600px;
        .item {
            position: relative;
	        display: block;
            float: left;
            zoom: 1;
            width: 600px;
            height: 425px;
        }
    }
}